<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <a href="">
      test
      <span>test</span>
    </a>
    <img src="./assets/images/cube.jpg" alt="" />
    <script src="./assets/js/index.js"></script>
  </body>
</html>
